/* General */
* {
  margin: 0;
}

body {
  background-color: #ECF0F1;
}


/* Menú de navegación */
nav {
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: white;
}

nav a {
  text-decoration: none;
  color: #dcdcdc;
  transition: all 0.25s;
}

nav a:hover {
  color: white;
}

nav .menu-links {
  display: flex;
  column-gap: 15px;
  list-style: none;
}


/* Página inicial */
.contenedor {
  min-width: 300px;
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column-reverse;
}

.tarjeta {
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  margin: 10px;
}

.tarjeta > * {
  margin: 10px;
}

.tituloYcheck {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descripcion {
  word-break: break-all
}

.actualizar, .eliminar, .alternar {
  padding: 3px 10px;
  color: white;
  border: none;
}

.actualizar {
  background-color: #229954;
}
.actualizar:hover {
  cursor: pointer;
  background-color: #229954e0;
}

.eliminar {
  background-color: #e74c3c;
}
.eliminar:hover {
  cursor: pointer;
  background-color: #e74c3ce0;
}

.alternar {
  background-color: #1F618D;
}
.alternar:hover {
  cursor: pointer;
  background-color: #1F618De0;
}

.check {
  text-decoration: line-through;
}

.sin-contenido {
  color: #212121;
  text-align: center;
}

/* Fomrulario de creación y actualización */
form {
  width: 300px;
  margin: 50px auto;
  text-align: center;
  padding: 15px;
  border-radius: 7px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

form > * {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  padding: 10px;
  margin: 5px;
}

form button {
  border: none;
  background-color: #313131;
  color: white;
}

form button:hover {
  cursor: pointer;
  background-color: #313131e0;
  color: white;
}

textarea {
  resize: none;
}


/* Página no encontrada */
.not-found {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #242424;
}

.not-found h1 {
  font-size: 10rem;
}

.not-found p {
  font-size: 2.5rem;
  margin: 15px;
}

.not-found a {
  margin-top: 20px;
  font-size: 1.5rem;
  color: rgb(45, 106, 219);
  text-decoration: none;
}

.not-found a:hover {
  color: rgb(36, 69, 129);
}